.navbar {
  width: 100%;
  padding: 20px 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  font-size: 22px;
  font-weight: 700;
  color: #0b2253;
}

.menu {
  display: flex;
  align-items: center;
  gap: 32px;
  font-size: 18px;
}

.menu a {
  text-decoration: none;
  color: #0b2253;
  font-weight: 500;
}

.login-btn {
  background: #0b2253;
  color: white;
  padding: 8px 22px;
  border-radius: 6px;
  border: none;
  font-size: 16px;
  cursor: pointer;
}

.login-btn:hover {
  background: #003fdd;
}
