.footer {
  background: #0d1b3d;
  color: white;
  padding: 40px 0;
  margin-top: 50px;
}

.footer-container {
  width: 85%;
  margin: auto;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.footer-section {
  width: 22%;
  min-width: 200px;
}

.footer-logo {
  font-size: 24px;
  font-weight: 700;
}

.footer-text {
  margin-top: 10px;
  font-size: 14px;
  color: #ddd;
}

.footer-section h3 {
  margin-bottom: 12px;
  font-size: 18px;
}

.footer-section ul li {
  list-style: none;
  margin: 6px 0;
}

.footer-section ul li a {
  text-decoration: none;
  color: #ddd;
  transition: 0.3s;
}

.footer-section ul li a:hover {
  color: #1a73e8;
}

.footer-socials a {
  font-size: 24px;
  margin-right: 15px;
  color: #ddd;
  transition: 0.3s;
}

.footer-socials a:hover {
  color: #1a73e8;
}

.footer-bottom {
  text-align: center;
  padding-top: 15px;
  border-top: 1px solid #23345a;
  margin-top: 25px;
  color: #ccc;
  font-size: 14px;
}
